<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="registerForm" (submit)=register()>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Username" type="text" name="userName" formControlName="userName" [(ngModel)]="model.userName">
                                      <mat-error *ngIf="registerForm.get('userName').hasError('minlength') && registerForm.get('userName').touched">Username must be at least 4 chracters</mat-error>
                                      <mat-error *ngIf="registerForm.get('userName').hasError('maxlength') && registerForm.get('userName').touched">Username cannot exceed 20 chracters</mat-error>
                                      <mat-error *ngIf="registerForm.get('userName').hasError('required') && registerForm.get('userName').touched">Username is required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Password" type="password" formControlName="password" name="password">
                                      <mat-error *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">Password must be at least 4 chracters</mat-error>
                                      <mat-error *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">Password cannot exceed 20 chracters</mat-error>
                                      <mat-error *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password is required</mat-error>
                         
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="confirmpassword" type="password" name="confirmpassword" formControlName="confirmpassword">
                                      <mat-error *ngIf="registerForm.get('confirmpassword').hasError('mismatch') && registerForm.get('confirmpassword').touched">Password must be same</mat-error>
                                      <mat-error *ngIf="registerForm.get('confirmpassword').hasError('required') && registerForm.get('confirmpassword').touched">Password is required</mat-error>


                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First Name" type="text" name="firstName" formControlName="firstName" [(ngModel)]="model.name">
                                    <mat-error *ngIf="registerForm.get('firstName').hasError('minlength') && registerForm.get('firstName').touched">First Name must be at least 4 chracters</mat-error>
                                    <mat-error *ngIf="registerForm.get('firstName').hasError('maxlength') && registerForm.get('firstName').touched">First Name cannot exceed 20 chracters</mat-error>
                                    <mat-error *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched">First Name is required</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name" type="text" name="lastName" formControlName="lastName"[(ngModel)]="model.lastName">
                                    <mat-error *ngIf="registerForm.get('lastName').hasError('minlength') && registerForm.get('lastName').touched">Last Name must be at least 4 chracters</mat-error>
                                    <mat-error *ngIf="registerForm.get('lastName').hasError('maxlength') && registerForm.get('lastName').touched">Last Name cannot exceed 20 chracters</mat-error>
                                    <mat-error *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched">Last Name is required</mat-error>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Status" type="text" name="status" formControlName="status">
                                    <mat-error *ngIf="registerForm.get('status').hasError('minlength') && registerForm.get('status').touched">Status must be at least 4 chracters</mat-error>
                                    <mat-error *ngIf="registerForm.get('status').hasError('maxlength') && registerForm.get('status').touched">Status cannot exceed 20 chracters</mat-error>
                                    <mat-error *ngIf="registerForm.get('status').hasError('required') && registerForm.get('status').touched">Status is required</mat-error>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" type="text" name="email" formControlName="email">
                                    <mat-error *ngIf="registerForm.get('email').hasError('minlength') && registerForm.get('email').touched">Email must be at least 4 chracters</mat-error>
                                    <mat-error *ngIf="registerForm.get('email').hasError('maxlength') && registerForm.get('email').touched">Email cannot exceed 20 chracters</mat-error>
                                    <mat-error *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">Email is required</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Birthdate" type="date" name="dateOfBirth" bsDatepicker [bsConfig]="bsconfig" formControlName="dateOfBirth">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4" style="margin-top: 25px;">
                                  <label class="radio-inline">
                                    <input class="mr-3" type="radio" value="male" formControlName="gender">Male
                                  </label>
                                  <label class="radio-inline ml-3">
                                    <input class="mr-3" type="radio" value="female" formControlName="gender">Female
                                  </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <label>About Me</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput name="aboutMe" formControlName="aboutMe" [(ngModel)]="model.aboutMe"></textarea>
                                     <mat-error *ngIf="registerForm.get('aboutMe').hasError('minlength') && registerForm.get('aboutMe').touched">AboutMe must be at least 4 chracters</mat-error>
                                     <mat-error *ngIf="registerForm.get('aboutMe').hasError('maxlength') && registerForm.get('aboutMe').touched">AboutMe cannot exceed 20 chracters</mat-error>
                                     <mat-error *ngIf="registerForm.get('aboutMe').hasError('required') && registerForm.get('aboutMe').touched">AboutMe is required</mat-error>
                                   </mat-form-field>
                                    <!-- <div class="form-group">
  
                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Sign In</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{model.userName}}</h6>
                        <h4 class="card-title">{{model.name}} {{model.lastName}}   </h4>
                        <p class="card-description">
                          {{model.aboutMe}} 
                        </p>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  